<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- this is header-css -->
    <link rel="stylesheet" type="text/css"  th:href="@{/../../css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/../../css/main.css}" />

    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row col-10">
        <h1>Edit Book:</h1>
    </div>
    <div class="row col-10">
        <div class="col-md-10">
            <!-- Book edition -->
            <form id="edit-form">
            </form>
        </div>
    </div>

    <div class="row col-10">

        <footer>
            <!-- FOOTER -->
            <a th:href="@{/}"><span>Books service</span></a>
            <script type="text/javascript" th:src="@{/../../js/main.css}"></script>
        </footer>
    </div>
</div>

<script>
    $(function () {
        let params = (new URL(document.location)).searchParams;

        $.get('/api/books/'+params.get("id")).done(function (book) {

            var body = ``;

            body += `<label class="" for="id">Id:</label>`;
            body += `<input class="form-control" id="id" readonly="readonly" type="text" name="id"`;
            body += `value="` + book.book.id + `"/>`;

            body += `<label class="" for="title">Title:</label>`;
            body += `<input class="form-control" id="title" type="text" name="title"`;
            body += `value="` + book.book.title + `"/>`;

            body += `<label class="" for="description">Description:</label>`;
            body += `<input class="form-control" id="description" type="text"  name="description"`;
            body += `value="` + book.book.description + `"/>`;

            body += `<label for="authornames">Authors:</label>`;
            body += `<select class="custom-select custom-select-lg mb-3" id="authornames" name="authornames" multiple="multiple">`;
            book.authorList.forEach(function (author) {
                body += `<option value="${author.id}"`;
                book.book.authors.forEach(function(authBook){
                        if (authBook.id == author.id){
                            body += ` selected="selected"`;
                        }
                    }
                );
                body += `>${author.name} </option>`;
            });
            body += `</select>`;

            body += `<label for="genrernames">Genres:</label>`;
            body += `<select class="custom-select custom-select-lg mb-3" id="genrernames" name="genrernames" multiple="multiple">`;
            book.genreList.forEach(function (genre) {
                body += `<option value="${genre.id}"`;
                book.book.genres.forEach(function(genreBook){
                        if (genreBook.id == genre.id){
                            body += ` selected="selected"`;
                        }
                    }
                );
                body += `>${genre.name} </option>`;
            });
            body += `</select>`;

            body += `<label for="comments">Comments:</label>`;
            body += `<div id="comments" name="comments">`;
            book.book.comments.forEach(function (comment) {
                 body += `<div>${comment.text}</div>`;
            });
            body += `</div>`;

            body += `<label for="newcomment">New comment:</label>
            <input type="text" id="newcomment" class="form-control" name="newcomment" />`;

            body += `
                 <div id="save-button" class="btn btn-success" onclick="savebook()">save</div>
                 <div id="delete-button" class="btn btn-danger" onclick="deletebook()">delete</div>
            `;

            $('#edit-form').append(body);

        })
    });

   function savebook(){

       var data = {};

       $('#edit-form').find ('input, textearea, select').each(function() {
           data[this.name] = $(this).val();
       });

       $.ajax({
            type : "PUT",
            url : "/api/save",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType : 'json',
            success: function (result) {
                window.location.href = "/books?id="+data["id"];
            },
            error: function (e) {
                window.location.href = "/books?id="+data["id"];
            }
        })

   };

    function deletebook(){
        let params = (new URL(document.location)).searchParams;

        var id = params.get("id");

        $.ajax({
            type : "DELETE",
            url : "/api/books/delete/"+id,
            data: {"id" : id},
            contentType: "application/json",
            dataType : 'json',
            success: function (result) {
                window.location.href = "/";
            },
            error: function (e) {
                console.log(e);
                window.location.href = "/";
            }
        })
    };

</script>

</body>
</html>
