<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <!-- this is header-css -->
    <link rel="stylesheet" type="text/css"  th:href="@{/../../css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/../../css/main.css}" />

    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Library:</h1>
    </div>
    <div class="row">
        <a th:href="@{/list}"><h1>Open book list</h1></a>
    </div>
</div>

</body>
</html>
