<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- this is header-css -->
    <link rel="stylesheet" type="text/css"  th:href="@{/../../css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/../../css/main.css}" />

    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>New Book:</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Book edition -->
            <form id="newbook-form">

            </form>
        </div>
    </div>
    <div class="row">
        <footer>
            <!-- FOOTER -->
            <span>Books service</span>
        </footer>
    </div>
</div>

<script>
    $(function () {
        let params = (new URL(document.location)).searchParams;

        $.get('/api/authorsgenres').done(function (book) {

            var body = ``;

            body += `<label class="" for="title">Title:</label>`;
            body += `<input class="form-control" id="title" type="text" name="title"`;
            body += `value=""/>`;

            body += `<label class="" for="description">Description:</label>`;
            body += `<input class="form-control" id="description" type="text"  name="description"`;
            body += `value=""/>`;

            body += `<label for="authornames">Authors:</label>`;
            body += `<select class="custom-select custom-select-lg mb-3" id="authornames" name="authornames" multiple="multiple">`;
            book.authorList.forEach(function (author) {
                body += `<option value="${author.id}">${author.name}</option>`;
            });
            body += `</select>`;
            body += `<label for="genrernames">Genres:</label>`;
            body += `<select class="custom-select custom-select-lg mb-3" id="genrernames" name="genrernames" multiple="multiple">`;
            book.genreList.forEach(function (genre) {
                body += `<option value="${genre.id}">${genre.name}</option>`;
            });
            body += `</select>`;

            body += `<label for="newcomment">New comment:</label>
            <input type="text" id="newcomment" class="form-control" name="newcomment" />`;

            body += `
                 <div id="save-button" class="btn btn-success" onclick="savebook()">save</div>            `;

            $('#newbook-form').append(body);

        })
    });

    function savebook(){

        var data = {};

        $('#newbook-form').find ('input, textearea, select').each(function() {
            data[this.name] = $(this).val();
        });

        $.ajax({
            type : "PUT",
            url : "/api/savenew",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType : 'json',
            success: function (result) {
                window.location.href = "/";
            },
            error: function (e) {
                window.location.href = "/";
            }
        })

    };
</script>

</body>
</html>
